#title{
     color: dodgerblue;
     text-align: center;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: xx-large;
     
}

#div02{
    background-color: azure;
    
    
}

.div01{
    
    
    margin-left: 150px;

}